.message {
	padding-left: 20px;
}

/* ANIMACIONES */
.example-animate-container {
	list-style: none;
	margin: 0;
	padding: 0 10px;
}

.animate-repeat {
	line-height: 40px;
	list-style: none;
	box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition: all ease-in 1s;
	transition: all ease-in 1s;
}
/** linear, ease-out, ease-in, ease-in-out */

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	max-height: 0;
	height: 0;
	color: #ffffff;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	max-height: 40px;
	height: 40px;
	color: #000000;
}