<!doctype html>
<html lang="en" ng-app="librosApp">

<head>
	<meta charset="utf-8">
	<title>Ejemplo de Libros en AngularJS</title>

	<!-- JQUERY -->
	<script src="node_modules/jquery/dist/jquery.min.js"></script>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- ANGULAR -->
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-route/angular-route.min.js"></script>
	<script src="node_modules/angular-resource/angular-resource.min.js"></script>

	<!-- BOOTBOX (dialogos de confirmacion) http://bootboxjs.com/ -->
	<script src="node_modules/bootbox/bootbox.min.js"></script>

	<!-- GROWL (notificaciones) https://github.com/JanStevens/angular-growl-2 -->
	<link href="node_modules/angular-growl-v2/build/angular-growl.css" rel="stylesheet">
	<script src="node_modules/angular-growl-v2/build/angular-growl.js"></script>

	<link rel="stylesheet" href="css/libros.css"/>
</head>

<body data-ng-controller="TodosLosLibrosCtrl as LibroCtrl">

<div growl></div>

<div class="navbar-header">
    <a class="navbar-brand" rel="home" href="#" title="Libros">
    	<img style="max-width:100px; margin-top: -7px;" src="images/logo-libros.jpg">
    </a>
</div>

<div class="container">
	<div class="page-header">
	  <h1>Libros <small>AngularJS + XTRest</small></h1>
	</div>
	
	<div class="row">

		<!-- Busqueda y resultados -->
		<div class="col-lg-8">
			<div class="filtro">
					<form role="form">
						<div class="form-group">
							<label for="libroBuscado">Buscar</label> 
							<input ng-model="libroBuscado" class="form-control" id="libroBuscado" placeholder="Título o Autor">
						</div>
					</form>
			</div>
			<div class="table-responsive">
			 <table class="table table-striped table-hover table-condensed">
			 	<tbody>
				 	<tr>
				 		<th>#</th>
				 		<th>Título</th>
				 		<th>Autor</th>
				 		<th>&nbsp;</th>
				 	</tr>
					<tr data-ng-repeat="libro in LibroCtrl.libros | filter:libroBuscado">
						<td class="col-xs-1">{{libro.id}}</td>
						<td class="col-xs-5">{{libro.titulo}}</td>
						<td class="col-xs-4">{{libro.autor}}</td>
						<td nowrap class="col-xs-2">
							<button type="button" class="btn btn-primary" data-ng-click="LibroCtrl.modificarLibro(libro)" aria-label="Modificar">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-danger" data-ng-click="LibroCtrl.eliminar(libro);" aria-label="Eliminar">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>								
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>

		<!-- Agregar -->
		<div class="col-lg-4 well well-lg">
			<h2>Libro Nuevo</h2>
			<div>
				<form name="agregarLibroForm" role="form">
					<fieldset>
						<div class="form-group">
							<label for="titulo">Título</label>
							<input data-ng-model="LibroCtrl.libroParaAgregar.titulo" type="text" id="titulo" class="form-control" placeholder="Cien Años de Soledad">
						</div>
						<div class="form-group">
							<label for="autor">Autor</label>
							<input data-ng-model="LibroCtrl.libroParaAgregar.autor" type="text" id="disabledTextInput" class="form-control" placeholder="Gabriel García Marquez">
						</div>
						<button type="submit" class="btn btn-primary" data-ng-click="LibroCtrl.agregarLibro()">Agregar</button>
						
					</fieldset>
				</form>
			</div>
		</div>
	</div>

</div>

<!-- MODEL WINDOW PARA MODIFICAR UN LIBRO -->
<div id="modificarLibroModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            	<h4 class="modal-title" id="myModalLabel">Modiicar Libro</h4>
            </div>
            <div class="modal-body">
                <h3>"{{LibroCtrl.libroParaModificar.titulo}}", de <i>{{LibroCtrl.libroParaModificar.autor}}</i></h3>
                <form name="modificarLibroForm" role="form">
					<fieldset>
						<div class="form-group">
							<label for="titulo">Título</label>
							<input data-ng-model="LibroCtrl.libroParaModificar.titulo" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label for="autor">Autor</label>
							<input data-ng-model="LibroCtrl.libroParaModificar.autor" type="text" class="form-control">
						</div>
					</fieldset>
				</form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-ng-click="LibroCtrl.aplicarModificacion()">Modificar</button>
        </div>
    </div>
  </div>
</div>

<!-- nuestro jscript -->
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/app.js"></script>

</body>
</html>

